<!doctype html>
<html>

<head>

  <title>Comment Blog</title>

  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css"> 
  {{/if}}
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>

  {{{_sections.head}}}

  {{#section 'head'}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/↵
handlebars.min.js"></script> 

    <script id="nurseryRhymeTemplate" type="text/x-handlebars-template">
      Marry had a little <b>\{{animal}}</b>, its <b>\{{bodyPart}}</b>
      was <b>\{{adjective}}</b> as <b>\{{noun}}</b>.
   </script>

  {{/section}}

</head>

<body>

  {{> menu }}
  <header><img src="/img/tigerlogo.png" alt="Comment blog Logo"></header>

  {{{body}}}

  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
  {{{_sections.jquery}}}

  {{#section 'jquery'}}
    $(document).ready(function(){
      var nurseryRhymeTemplate = Handlebars.compile(
        $('#nurseryRhymeTemplate').html());
    });
  {{/section}}

  {{#section 'jquery'}}
    <script>
      $(document).ready(function(){
        var nurseryRhymeTemplate = Handlebars.compile(
          $('#nurseryRhymeTemplate').html());
        var $nurseryRhyme = $('#nurseryRhyme');
        $('#btnNurseryRhyme').on('click', function(evt){ evt.preventDefault();
        $nurseryRhyme.html(nurseryRhymeTemplate({
          animal: 'basilisk',
          bodyPart: 'tail',
          adjective: 'sharp',
          noun: 'a needle'
        })); });
        $('#btnNurseryRhymeAjax').on('click', function(evt){
          evt.preventDefault();
          $.ajax('/data/nursery-rhyme', {
            success: function(data){
              $nurseryRhyme.html(
                nurseryRhymeTemplate(data))
            } 
          });
        });
    </script>
  {{/section}}

  <div id="nurseryRhyme">Click a button....</div>
  <hr>
  <button id="btnNurseryRhyme">Generate nursery rhyme</button>
  <button id="btnNurseryRhymeAjax">Generate nursery rhyme from AJAX</button>

  {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script> <script src="/vendor/chai.js"></script> 
    <script>
      mocha.ui('tdd');
      var assert = chai.assert; 
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
      <script src="{{pageTestScript}}"></script> 
    {{/if}}
    <script>mocha.run();</script>
  {{/if}}

</body>
</html>
